faster-whisper==1.0.3
gradio==4.42.0
transformers==4.44.0
torch
torchvision
torchaudio
sentencepiece
sacremoses
keybert==0.8.4
sentence-transformers
rouge-score
jiwer==3.0.3
yake
nltk
scikit-learn
pandas
numpy
accelerate
protobuf
moviepy
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
